input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.form-container {
    max-inline-size: 800px;
    margin: 0 auto;
    padding: 20px;
}

.form-table {
    inline-size: 100%;
    border-collapse: collapse;
    margin-block-end: 20px;
}

.form-table td,
.form-table th {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: start;
}

.enviar-boton {
    margin-block-start: 20px;
    text-align: center;
}

#addCamionBtn {
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
}

.barra-container {
        inline-size: 300px; 
        block-size: 20px;
        background: #ccc; 
        margin: 1em 0;
        display: none; 
}

.barra-inner {
  background: #07c;
  block-size: 100%;
  inline-size: 0%;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}