input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.form-container {
    max-inline-size: 800px;
    margin: 0 auto;
    padding: 20px;
}

.form-table {
    inline-size: 100%;
    border-collapse: collapse;
    margin-block-end: 20px;
}

.form-table td,
.form-table th {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: start;
}

.enviar-boton {
    margin-block-start: 20px;
    text-align: center;
}

#addCamionBtn {
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
}

.barra-container {
        inline-size: 300px; 
        block-size: 20px;
        background: #ccc; 
        margin: 1em 0;
        display: none; 
}

.barra-inner {
  background: #07c;
  block-size: 100%;
  inline-size: 0%;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}

.container {
    max-inline-size: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.message-container {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-block-end: 20px;
}

.btn {
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
}

.btn:hover {
    background: #0056b3;
}

header, footer {
    background: #f0f0f0;
    padding: 10px 20px;
    text-align: center;
}
footer p {
    margin: 0;
    font-size: 0.9rem;
}

#addCamionBtn,
#removeCamionBtn {
    inline-size: 30px;
    block-size: 30px;
    text-align: center;
    line-height: 0px;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    cursor: pointer;
}

.help-button {
    background-color: #ccc; /* Ajusta el color de fondo si lo deseas */
    border: none;
    border-radius: 50%;
    inline-size: 30px;
    block-size: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-inline-start: 10px;
}

.help-popup {
    display: none; /* Se oculta por defecto */
    position: fixed;
    z-index: 999; /* Asegúrate de que quede al frente de otros elementos */
    inset-inline-start: 0;
    inset-block-start: 0;
    inline-size: 100%;
    block-size: 100%;
    overflow: auto; /* Habilita scroll si el contenido es muy grande */
    background-color: rgba(0,0,0,0.5); /* Fondo semi-transparente */
}

.help-popup-content {
    background-color: #fff;
    margin: 10% auto; /* Centrado vertical y horizontal */
    padding: 20px;
    border: 1px solid #888;
    inline-size: 80%; /* Ajusta el ancho */
    max-inline-size: 600px; /* Máximo ancho, si quieres */
    position: relative; /* Para posicionar el botón de cierre */
    border-radius: 5px;
}

.close-button {
    color: #aaa;
    float: inline-end;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: #000;
}

.parametros-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block-start: 20px;
    margin-block-end: 10px;
}

.camiones-header {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el texto y el botón */
    margin-block-start: 20px;
    margin-block-end: 10px;
}

.tsp-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block-end: 10px;
}

.botones-accion {
    display: flex;
    flex-direction: row; /* Coloca los elementos en columna */
    gap: 10px;
  }

  .help-popup-content {
    text-align: justify;
  }