{% extends "base.html" %}

{% block title %}
  Procesamiento Exitoso
{% endblock title %}

{% block content %}
<div class="message-container">
  <h2>El procesamiento de la ruta fue exitoso</h2>
  <p>La red vial ha sido procesada y la ruta ha sido calculada exitosamente.</p>
  
  <div class="botones-accion" style="display: flex; justify-content: center; gap: 20px; margin-block-start: 20px;">
    <a href="{{ download_url }}" class="btn">Descargar shapefiles de la ruta</a>
    <a href="{{ url_for('seleccionar_sector', alcaldia=alcaldia) }}" class="btn">Procesar otro sector</a>
    <a href="{{ url_for('limpiar_temp') }}" class="btn">Inicio</a>
  </div>
</div>
{% endblock content %}